body {
  background: #fff;
  font-family: Advent Pro;
  font-size: 16px;
}

h1 {
  color: #EC3DB2;
  font-size: 4em
}

h3 {
  /* color: #d1b4d7; */
  color: #EC3DB2;
  margin-top: -7px;
  font-size: 2em;
}

button {
  border-radius: 8px;
  color: #EC3DB2;
}

p > a {
  color: blue;
}

.skills li {
  padding: 5px;
  display: block;
  list-style-type: none;
  background-color: #EC3DB2;
  font-size: 24px;
  color: white;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
}

.header {
  text-align: center;
  background-image: url(https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/010007560109/media/62853955528/medium/1492282729/enhance);
}

.banner {
  background-color: #EC3DB2;
  opacity: 0.85;
  color: #fff;
  text-align: center;
}

.footer{
  background-color: #EC3DB2;
  opacity: 0.85;
  color: #fff;
}

.profile {
  height: 250px;
  width: 250px;
  float: left;
  margin-right: 25px;
}

.spacer {
  height: 25px;
}

.nav {
  color: #3D66EC;
  font-size: 2em;
}

.nav.navbar-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  margin-bottom: 75px;
}

.proj {
  height: 250px;
  width: 250px;
}

.projL {
  height: 250px;
  width: 250px;
  float: right;
  margin-left: 25px;
}

@media (min-width: 768px) {
	.navbar-nav {
		float: none;
	}
}
